.row {
  display: flex;
}

.column {
  flex: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
